body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
}

.header-task {
  padding: 2rem 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.header-task h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #6b7280;
  margin-bottom: 1rem;
}

.new-task-form {
  display: flex;
}

input,
button,
select {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.new-task-input {
  flex: 1 1 0%;
  background-color: #333;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: #eee;
  font-size: 1.25rem;
}

.new-task-input::placeholder {
  color: #6b7280;
}

.new-task-submit {
  font-size: 1.2rem;
  font-weight: 700;
  color: #21d4fd;
  cursor: pointer;
  transition: 0.4s;
}

.new-task-submit:hover {
  opacity: 0.8;
}

.main-task {
  flex: 1 1 0%;
  padding: 0rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #6b7280;
  margin-bottom: 1rem;
}

.tasks {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.tasks .content .text {
  color: #eee;
  font-size: 1.125rem;
  width: 115%;
  display: block;
  transition: 0.4s;
}

.tasks .content .text:not(:read-only) {
  color: #48b0ec;
}

.tasks .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.tasks .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.tasks .actions button:hover {
  opacity: 0.8;
}

.tasks .actions .edit {
  color: #21d4fd;
}

.tasks .actions select {
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(87, 85, 85);
  border-radius: 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  .tasks {
    flex-direction: column;
    padding-left: 2rem;
  }

  .tasks .content {
    margin-bottom: 0.5rem;
  }

  .tasks .content .text {
    width: 88%;
  }

  .tasks .actions {
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
  }

  .tasks .actions .form-select {
    margin-right: 5rem;
  }
}
